.aif-box {
  position: absolute;
  top: 1rem; /* 16px */
  left: calc(
    1rem + 3rem + 0.75rem
  ); /* 16px + 48px + 12px */
  right: 1rem; /* 16px */
  z-index: 22;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.75rem; /* 0 8px 0 12px */
  background: #fff;
  border-radius: 1rem; /* 16px */
  backdrop-filter: blur(0.625rem); /* 10px */
  border: 0.0625rem solid #fff; /* 1px */
  margin-top: 2.375rem; /* 38px */
  cursor: pointer;
  text-align: left;
  touch-action: manipulation;
  margin-left: 0.75rem; /* 12px */
}

/* 아이콘 영역 */
.aif-box-left {
  display: flex;
  align-items: center;
  gap: 0.375rem; /* 6px */
  margin-right: 0.5rem; /* 8px */
}

.aif-icon,
.aif-icon.small {
  width: 3.5rem;  /* 56px */
  height: 3.5rem; /* 56px */
  flex: 0 0 3.5rem; /* 56px */
  object-fit: contain;
}

/* 텍스트 */
.aif-box-text {
  flex: 1 1 auto;
  min-width: 0;
  width: 10rem !important; /* 160px */
  
}

.aif-title {
  font-size: 0.875rem; /* 14px */
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  color: #303030;
  line-height: 1.25rem; /* 20px */
  margin-bottom: 0.125rem; /* 2px */
  white-space: nowrap;
}

.aif-sub {
  color: #767676;
  font-family: Pretendard;
  font-size: 0.5625rem; /* 9px */
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 14px */
  letter-spacing: -0.01406rem; /* -0.225px */
}

.aif-sub-point {
  color: #767676;
  font-family: Pretendard;
  font-size: 0.5625rem; /* 9px */
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem; /* 14px */
  letter-spacing: -0.01406rem; /* -0.225px */
}

/* ai박스안 꺾쇠 */
.aif-chevron {
  font-size: 1.125rem; /* 18px */
  width: 1.25rem !important; /* 20px */
  height: 1.25rem !important; /* 20px */
  color: #2e80ec;
}