.airesult-wrap{
    background-color: rgba(255, 255, 255, 1);
    width: 24.375rem;
    min-height: 52.75rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

.ar-time{
  align-items: center;
  color: #303030;

/* MO/Title/KR/T3_KR_Rg */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.45px;
height: 28px;
/* MO/Title/KR/T3_KR_Rg */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 400;
letter-spacing: -0.45px;
height: 28px;
}

.ar-pred-title{
  margin-bottom: 48px;
}

.ar-pred-sub{
  color: #303030;

/* MO/Title/KR/T2_KR_Rg */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
letter-spacing: -0.5px;
/* MO/Title/KR/T2_KR_Rg */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
letter-spacing: -0.5px;
}

.ar-address,
.ar-time{
  color: #303030;
  
/* MO/Title/KR/T3_KR_Rg */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: -0.45px;
}

.ar-address-wrap{
  display: flex;
  align-items:center;
  margin-top: 16px;

}
.ar-time-wrap{
  margin-top : 24px;
  display: flex;
  align-items:center;

}
.ar-time-img,
.ar-address-img{
    width: 20px;
    height: 20px;
}

.ar-picked{
    color: #5C5C5C;
text-align: center;

/* MO/Body/KR/B4_KR_Rg */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: -0.3px;
/* MO/Body/KR/B4_KR_Rg */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: -0.3px;
}

.ar-time-selected,
.ar-address-selected{
  margin-left : 10px;
   display: inline-flex;
padding: 6px 12px;
justify-content: center;
align-items: center;
border-radius: 6px;
border: 1px solid #EAEAEA;
background: #F1F1F5;
}

.ar-next{
  top: 260px !important;
    left: 24px !important;
  left:0;
  right: 0;
  display:flex;
    position: absolute !important;
  justify-content: center;
}
