.container{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:200px;
    width:600px;
    background:#fff;
    padding-bottom:30px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:30px;
}

.text{
    color:black;
    font-size:48px;
    font-weight:700;
}

.underline{
    width:61px;
    height:6px;
    background:black;
    border-radius:9px;
}

.inputs{
    margin-top:55px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.inputuptext{
    color:black;
    font-size:15px;
    font-weight:500;
    margin-left: 20px;
    width: 342px;
    margin:0 auto 2px;
}

.input{
    display: flex;
    align-items:center;
    margin:auto;
    width:342px;
    height:48px;
    background:#eaeaea;
    border-radius:6px;
    
}

/* .input img{
    margin:0px 30px;
} */

.input input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size:16px;
    padding-left:20px;
}

.notyet-customer {
  text-align: center;
  font-size: 14px;
  color: #797979;
}

.notyet-customer span{
    color:#2E80EC;
    cursor:pointer;
}

.submit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    margin-top: 80px;
}

.submit{
    display:flex;
    justify-content: center;;
    align-items: center;
    width:342px;
    height:56px;
    color:#fff;
    background:#2E80EC;
    border-radius:5px;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
}

.gray{
    background:#EAEAEA;
    color:#676767;
}