.rp-next-wrap {
  top: 260px !important;
  left: 24px !important;
  left: 0;
  right: 0;
  display: flex;
  position: absolute !important;
  justify-content: center;
}

.rp-wrapper {
  background-color: #fff;
  width: 24.375rem;
  min-height: 52.75rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 1.5rem;
}
.previousImg{
  width: 24px;
  height: 24px;
}
.rp-title {
  margin-top: 8px;
  color: #303030;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.6px;
  margin-bottom: 0;
}

.rp-title-desc {
  color: #767676;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
  margin-top: 6px;
  margin-bottom: 0;
}

.rp-check-own,
.rp-check-two,
.rp-check-three {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 텍스트 왼쪽, 아이콘 오른쪽 */
  margin-bottom: 12px;
}

.rp-check-box {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rp-check-own {
  margin-top: 32px;
  margin-bottom: 20px;
}
.rp-check-two {
  margin-bottom: 20px;
}

.rg-own-check {
  padding-left: 4px;
  margin-bottom: 20px;
}

.rg-carnum {
  color: #5c5c5c;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
  margin-bottom: 8px;
}

.rg-carnum-input {
  margin-bottom: 8px;
}

.rg-parkname-wrap {
  position: absolute; /* 필요에 따라 absolute/fixed 선택 */
  top: 623px; /* 프로젝트 레이아웃에 맞춰 숫자 조정 */
  left: 24px;
  margin-bottom: 0;
  width: 325px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #f1f1f5;
}

.rg-parkname-wrap img {
  width: 24px;
  height: 24px;
}
.rg-parkname {
  margin-left: 8px;
  color: #5c5c5c;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.rp-next-wrap {
  position: absolute; /* 필요 시 fixed 로 */
  left: 0;
  right: 0;
  bottom: 46px;
  display: flex;
  justify-content: center;
}

/* 버튼이 활성일 때 */
button.rp-next-wrap:not(:disabled),
.rp-next-wrap.next-button:not(:disabled),
.rp-next-wrap.enabled {
  background: #de5e56 !important;
  color: #fff !important;
}

/* 버튼이 비활성일 때 */
button.rp-next-wrap:disabled,
.rp-next-wrap.next-button:disabled,
.rp-next-wrap.disable {
  background: #e4e4e4 !important;
  color: #999 !important;
}
