.complete-wrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 24.375rem;
  min-height: 52.75rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.complete-check {
  position: absolute !important;
  margin-top: 32px;
  width: 40px;
  height: 40px;
}

.complete-title {
  position: absolute;
  margin-top: 84px;
  color: #2f2f2f;
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.6px;
  white-space: nowrap;
}

.complete-label-name,
.complete-label-time,
.complete-label-charge {
  color: #767676;
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.35px;
  position: absolute;
  left: 24px;
}

.complete-name,
.complete-time,
.complete-charge {
  color: #2f2f2f;
  font-family: "Pretendard", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
  position: absolute;
  left: 24px;
}

.complete-label-name {
  margin-top: 150px;
}
.complete-name {
  margin-top: 174px;
}
.complete-label-time {
  margin-top: 214px;
}
.complete-time {
  margin-top: 238px;
}
.complete-label-charge {
  margin-top: 278px;
}
.complete-charge {
  margin-top: 302px;
}

.complete-logo {
  position: absolute;
  margin-top: 352px;
  margin-left: 134px;
  width: 238px;
  height: 270px;
}

.complete-next-btn {
  position: absolute;
  margin-top: 214.3px;
}
