.ds-wrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 24.375rem;
  min-height: 52.75rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.ds-title {
  color: #303030;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.6px;
  margin-top: 24px;
}

.ds-content {
  color: #767676;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
  margin-top: 8px;
}
.ds-address-title {
  color: #303030;
  margin-top: 24px;
  margin-bottom: 8px !important;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.ds-img-title {
  margin-top: 24px;
  margin-bottom: 8px !important;
  color: #303030;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.ds-input {
  margin-top: 8px;
  width: 310px;
  height: 57px;

  display: flex;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--Font-02_black, #111);

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.35px;
  resize: none; 
}

.ds-input-wrapper .input {
  .Wrapper {
    background-color: rgba(255, 255, 255, 1);
    width: 24.375rem;
    min-height: 52.75rem;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 1.5rem;
  }
  .ds-input-wrapper .input {
    word-break: break-word;
    white-space: pre-wrap;
  }
}

.ds-title {
  color: #2f2f2f;
  font-family: "Pretendard", Helvetica;
  font-size: 1.5rem;
  font-style: vnormal;
  font-weight: 600;
  letter-spacing: -0.0375rem;
  line-height: -0.0375rem;
  margin: 1.4375rem 0 0;
  white-space: nowrap;
  margin-top: 1.5rem;
}

.ds-nextBtn {
  margin-top: 39px !important;
}