.nfc-container {
  height: 390px !important;
  background-color: rgba(255, 255, 255, 1);
  width: 24.375rem;
  min-height: 52.75rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.nfc-title{
  color: #303030;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.6px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.nfc-sub {
  color: #767676;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.35px;
margin-top: 0;
margin-bottom: 63px;

}

.nfc-section {
  order: 1;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.nfc-icon-img {
  width: 191px;
  height: 371px;
  margin: 0 99.69px 61.2px 99.3px;
  margin-bottom: 61.2px;
}

.nfc-time-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 20px;
  white-space: nowrap;
  padding: 6px 72px 6px 73px;
  border-radius: 6px;
  background: #f1f1f5;
}

.pin-icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  flex: 0 0 20px;
  object-fit: contain;
  display: block;
  margin-right: 3px;
}

.nfc-time-text {
  color: #5C5C5C;
text-align: center;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: -0.3px;
}

/* 버튼 섹션 */

.nfc-outsoon {
  width: 342px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  flex-shrink: 0;
  border-radius: 6px;
  border: 0;
  background: #2e80ec;
  margin-top: 8px;
}

.nfc-outsoon-text{
  color:#FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.4px;
}